<html>
	<head>      
 		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        	<title>FizzbuzzAngularJS</title>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
			
	</head>

   <body ng-app="FizzbuzzAngularJS">
   		 <div class="container well" ng-controller="Fizzbuzz">
       Povej število: <input type="number" ng-model="number" />
        
		<p ng-repeat="value in values">{{ value }}</p> 
    
	   <script src="FizzbuzzAngularJS,js"></script>
  </body>
</html>